body{
    background-image; url("image-jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.botao{
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}